@using WebAutoprevozncniko.ViewModels
@{
    ViewData["Title"] = "UrediPoruka";
}

<h1 style="margin-top:150px">Uspjesno ste uredili podatke reda voznje</h1>
<br />
<a href="/RedVoznje/RasporedVoznje">Raspored voznje</a>



